*{ /*página inteira*/
    margin: 5px;
    padding: 10px;
    font-family:'Lucida Sans';
    background-color: #dadada;
    text-align: center;
}

.button{ /*layout botão enviar*/
    padding: 3%;
    width: 50%;
    background-color: #0919f3;
    color: #F7F0EF;
    border-radius: 5cap;
}

.numero{ /*classe número da questão*/
    padding: 3%;
    width: 10%;
}

.button:hover{ /*ao passar o mouse no botão*/
    background-color: #cf0624;
    transition: 0.5s;
}

input{
    background-color: #dadada;
    margin:0%;
    padding: 0%;
    font-family:'Lucida Sans';
    font-size: 100%;
    font-weight: 500;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    width: 25%;
}

.errou{
    font-size: 300%;
    font-weight: 500;
    color: #cf0624;
}

.final{
    font-size: 200%;
    font-weight: 500;
    color: #0685cf;
}